* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 20px auto;
}

.container {
    margin: 0 auto;
    width: 728px;
}

.branding,
.connection-status {
    display: inline-block;
    width: 351px;
}

.branding {
    font-size: 1em;
    margin-right: 20px;
    margin-top: 0;
}

.branding a {
    color: #000;
    text-decoration: none;
}

.connection-status {
    font-size: 0.75em;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.connection-status.online {
    color: #0f0;
}

.connection-status.offline {
    color: #f00;
}


input,
textarea {
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    margin-bottom: 0.5em;
    padding: 0.25em 0.5em;
    width: 100%;
}

#message-list {
    margin-top: 60px;
}

.message {
    border-top: 1px solid #ccc;
    clear: both;
    padding-top: 0.5em;
}

.message:nth-of-type(1) {
    border-top: 0;
}

.message .message-text {
    font-size: 1.25em;
}

.message .message-account,
.message .message-time {
    color: #666;
    display: inline-block;
    font-size: 0.75em;
    overflow: hidden;
    padding: 0.5em 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 351px;
}

.message .message-account {
    margin-right: 20px;
}

.message .message-time {
    text-align: right;
}

/* iPhone (portrait) */
@media only screen and (max-width : 320px) {
    .container {
        width: 300px;
    }
    textarea {
        margin-bottom: 0;
    }
    .message .message-text {
        font-size: 1em;
    }
    .branding,
    .connection-status,
    .message .message-account,
    .message .message-time {
        width: 137px;
    }
}

/* iPhone (landscape) */
@media only screen and (min-width : 321px) and (max-width : 480px) {
    .container {
        width: 440px;
    }
    .branding,
    .connection-status,
    .message .message-account,
    .message .message-time {
        width: 207px;
    }
}

/* Galaxy Note 2 (portrait) */

@media only screen and (min-width : 321px) and (max-width : 360px) {
    .container {
        width: 340px;
    }
    .branding,
    .connection-status,
    .message .message-account,
    .message .message-time {
        width: 158px;
    }
}

/* Nexus 7 (portrait) */

@media only screen and (min-width : 481px) and (max-width : 603px) {
    .container {
        width: 563px;
    }
    .branding,
    .connection-status,
    .message .message-account,
    .message .message-time {
        width: 269px;
    }
}
