{% extends "admin/base.html" %}

{% load i18n %}
{% load static %}

{% block title %}{{ title }} | {% trans "Watercooler site admin" %}{% endblock %}

{% block extrahead %}
    <!--[if IE ]>
        <link rel="shortcut icon" href="{% static "watercooler/img/favicon.ico" %}" />
    <![endif]-->
    <link rel="icon" href="{% static "watercooler/img/icon_64.png" %}" />
{% endblock %}

{% block branding %}
    <h1 id="site-name">{% trans "Watercooler administration" %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
