{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block head %}
    <title>{% block head-title %}{% trans "Watercooler" %}{% endblock %}</title>
    <meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />

    <!--[if IE ]>
        <link rel="shortcut icon" href="{% static "watercooler/img/favicon.ico" %}" />
    <![endif]-->
    <link rel="icon" href="{% static "watercooler/img/icon_64.png" %}" />
    <link rel="apple-touch-icon" href="{% static "watercooler/img/icon_57.png" %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "watercooler/img/icon_72.png" %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "watercooler/img/icon_114.png" %}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "watercooler/img/icon_144.png" %}" />

    <link rel="stylesheet" type="text/css" href="{% static "watercooler/css/watercooler.css" %}" />

    <script type="text/javascript" src="{% static "jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "handlebars/handlebars.js" %}"></script>
    <script type="text/javascript" src="{% static "ember/ember.js" %}"></script>
    <script type="text/javascript" src="{% static "timeago/jquery.timeago.js" %}"></script>
    <script type="text/javascript" src="{% static "watercooler/js/ember.socket.js" %}"></script>
    <script type="text/javascript" src="{% static "watercooler/js/watercooler.app.js" %}"></script>

    {% verbatim %}
        <script type="text/x-handlebars" data-template-name="application">
            <div class="container">
                <h1 class="branding">
                    {{#linkTo "chat"}}Watercooler{{/linkTo}}
                </h1>
                {{#with App.socket}}
                    <div {{bindAttr class=":connection-status isConnected:online:offline"}}>{{#if isConnected}}Online{{else}}Offline{{/if}}</div>
                {{/with}}
                {{outlet}}
            </div>
        </script>
        <script type="text/x-handlebars" data-template-name="chat">
            <div>
                {{view App.AccountField}}
            </div>
            <div>
                {{view App.MessageField}}
            </div>
            <div class="message-list">
                {{#each message in content}}
                    <div class="message">
                        <div class="message-text">
                            {{message.text}}
                        </div>
                        <div class="message-account">
                            {{message.account.description}}
                        </div>
                        <div class="message-time">
                            {{view App.MessageTimeView messageBinding="message"}}
                            {{#linkTo "message" message}}#{{/linkTo}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </script>
        <script type="text/x-handlebars" data-template-name="message">
            <div class="message-detail">
                <div class="message">
                    <div class="message-text">
                        {{content.text}}
                    </div>
                    <div class="message-account">
                        {{content.account.description}}
                    </div>
                    <div class="message-time">
                        {{view App.MessageTimeView messageBinding="content"}}
                    </div>
                </div>
            </div>
        </script>
    {% endverbatim %}
{% endblock %}
