<!DOCTYPE html>

{% block tag-html %}<html>{% endblock %}

<head>
    <meta charset="utf-8" />
    {% block head %}
        <title>{% block head-title %}{% endblock %}</title>
        {% block head-extra %}{% endblock %}
    {% endblock %}
</head>

<body>
    {% block body %}{% endblock %}
</body>

</html>
